

$headings-font-family: acumin-pro-extra-condensed, sans-serif !default;
$headings-font-weight: 700;
$font-family-monospace: prestige-elite-std, monospace !default;
$font-family-base: halyard-text, sans-serif !default;
$display-font-family: dapifer !default;
$display-font-weight: 900;
$display-font-style: italic;

.navbar {
    font-family: $display-font-family;
}

@import "bootstrap/bootstrap.scss";
