{{ define "main" }}
{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{$posts}}
{{ $paginator := (.Paginate $posts 5) }}
{{$paginator}}

{{ $numberOfItems := len $posts }}
{{ $numberOfItems = add $numberOfItems -1 }}
{{ range $index, $value := $posts }}
<article>
    <h1 class="display-4"><a href="{{ .Page.RelPermalink }}">{{ .Title | title }}</a></h1>
    <p>Written by: {{ .Params.author }} on {{ .PublishDate.Format "Monday, January 2, 2006" }}.
    </p>
    {{ .Content }}
    <p>&copy;{{ .Params.Date.Format "2006" }} {{ $.Params.author }} &ndash;
        {{ with index (.GetTerms "copyrights") 0 }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{ end }}
    </p>
    {{ if (ne $index $numberOfItems) }}
    <hr class="border border-primary border-3 opacity-100">
    {{ end }}
</article>
{{ end }}
{{ end }}
