<footer>
    <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL}}</a>
    <br><br>
    <a href="/index.xml"><img class="fa-solid fa-rss" alt="&nbsp;RSS Feed"></img></a>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    {{ with .Site.Params.fontawesome.kit }}
    <script src="https://kit.fontawesome.com/{{ . }}.js" crossorigin="anonymous"></script>
    {{ end -}}
</footer>
</body>

</html>
