<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if not .IsHome}}{{ .Title | title}} | {{ end }}{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS" href="/index.xml">
    {{ with .Site.Params.favicon }}
    <link rel="icon" href="{{ . }}">
    {{ end -}}
    {{ if isset .Params "keywords" }}
    <meta name="keywords" content="{{ with .Params.keywords }}{{ delimit . " , " }}{{ end }}">
    {{ end -}}
    <meta name="robots" content="index, follow">
</head>

<body class="container">
    {{- if .Site.Menus.main }}
    {{ partial "nav.html" . }}
    {{ end }}
